__pycache__/
_build/
*.py[cod]

# Local configs
mypy.ini

# Poetry
dist/

# Pytest
.hypothesis/
.pytest_cache/
htmlcov/
.coverage

# MCSim Results
*_results/
*.mccase
*.mcsim

# Security Keys
*.pem
*.ppk
