__pycache__/
_build/
*.py[cod]

# Sphinx docs
build/
_static/
_templates/

# Local configs
mypy.ini

# Poetry
dist/

# Pytest
.hypothesis/
.pytest_cache/
htmlcov/
.coverage

# VSCode
.vscode/

# MCSim Results
*_results/
*.mccase
*.mcsim

# Security Keys
*.pem
*.ppk
