[tool.poetry]
name = "monaco"
version = "0.9.1"
description = "Quantify uncertainty and sensitivities in your computer models with an industry-grade Monte Carlo library."
authors = ["Scott Shambaugh <scott@theshamblog.com>"]
license = "GPL-3.0-or-later"
readme = "README.md"
repository = "https://github.com/scottshambaugh/monaco/"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering",
    "Topic :: Software Development",
]

[tool.poetry.dependencies]
python = ">=3.8.0,<3.12"
numpy = "^1.23"
scipy = "^1.10"
matplotlib = "^3.6"
tqdm = "^4.0"
psutil = "^5.0"
distributed = "^2022"
cloudpickle = "^2.0"
pillow = ">=9.3.0"

pandas = {version = "^1.5", optional = true}

numba = {version = "^0.56", python = "<3.11", optional = true}

sphinx = {version = "^4.2", optional = true}
sphinx_rtd_theme = {version = "^1.0", optional = true}
myst-parser = {version = ">=0.15", optional = true}

[tool.poetry.dev-dependencies]
pytest = ">=7.2"
coverage = "^7.0"
mypy = ">=1.0"
flake8 = "^5.000"
pre-commit = "^3.0"
requests = "^2.0"

[tool.poetry.extras]
pandas = ["pandas"]
numba = ["numba"]
docs = ["sphinx", "sphinx_rtd_theme", "myst-parser"]

[build-system]
requires = ["setuptools", "poetry-core"]
build-backend = "poetry.core.masonry.api"
